body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(44, 44, 44);
  color: white;
}

/* navbar styles */
.nav-container {
  /*margin: 0;
  max-width: 1400px;
  padding: 20px;
  text-align: center;
  display: flex;*/
  margin: 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.nav-container p {
  margin-left: 20px;
  font-weight: bolder;
}

.nav-container ul {
  display: flex;
  margin-right: 20px;

}

.nav-container ul li {
  list-style: none;
  margin-left: 20px;

}

.nav-container a {
  color: white;
  text-decoration: none;
}


/* form */
.task-form-container {
  width: 50%;
  height: 80px;
  margin: auto;
  margin-bottom: 15px;
  background-color: rgb(71, 71, 71);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.task-form-container button {
  border: none;
  background-color: rgb(4, 159, 74);
  border-radius: 10px;
  padding: 10px;
  color: white;
  cursor: pointer;
  margin-left: 110px;
}

.task-form-container button:hover {
  background-color: rgb(3, 127, 59);
}

.task-form-container input {
  border-radius: 10px;
  padding: 10px;
  margin-left: 30px;
}

/* task details */
.task-container {
  width: 50%;
  min-height: 100px;
  margin: auto;
  margin-bottom: 10px;
  
  background-color: rgb(71, 71, 71);
  border-radius: 10px;
  padding: 5px;
}

.task-details {
  margin-left: 10px;
}

.task-details h1 {
  color: rgb(7, 200, 94);

}

.task-details p {
  font-style: italic;
}

/* mark task as completed */
.completed {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
  text-decoration-color: white;
}


.task-details-btn {
  margin-left: 480px;
  position: relative;
  bottom: 85px;
}

.complete-btn {
  border: solid;
  border-width: 1px;
  border-color: rgb(48, 190, 48);
  border-radius: 20px;
  padding: 10px;
  color: rgb(48, 190, 48);
  cursor: pointer;
  background-color: white;
}

.complete-btn:hover {
  background-color: rgb(202, 198, 198);
}

.delete-btn {
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 20px;
  color: rgb(253, 84, 84);
  cursor: pointer;
  background-color: white;
}

.delete-btn:hover {
  background-color: rgb(202, 198, 198);
}

.form {
  max-width: 25%;
  height: 300px;
  padding: 20px;
  padding-bottom: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(71, 71, 71);
  border-radius: 10px;
}

.form h1 {
  color: rgb(7, 200, 94);
  text-align: center;
}

.form input {
  border-radius: 10px;
  padding: 10px;
}

.form button {
  border: none;
  background-color: rgb(4, 159, 74);
  border-radius: 10px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.form button:hover {
  background-color: rgb(3, 127, 59);
}